<!DOCTYPE html>
<html ng-app="nemo">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <script src="/app/lib/angular/angular.js"></script>
    <script src="/dist/nemo.js"></script>

    <style type="text/css">

        .container {
            background-color: #eee;
            border: 1px solid #00aaef;
            width: 400px;
            margin: 0 auto;
            padding: 10px;
        }

        .column {
            float: left;
            box-sizing: border-box;
            padding: 10px 20px;
            width: 50%;
        }

        .label {
            text-align: right;
        }

        .field {
            text-align: left;
        }

        .field * {
            width: 100%;
        }

        .clearfix {
            overflow: auto;
        }

        .nemo-captcha-audio {
            display: none;
        }

        .nemo-captcha-play {
            background: transparent url('/app/sample/grey-audio-Icon.png') no-repeat 0 0;
            width: 21px;
            height: 20px;
            display: inline-block;
            cursor: pointer;
        }

        .nemo-captcha-refresh {
            cursor: pointer;
            text-decoration: underline;
        }

        .nemo-captcha-img {
            display: inline-block;
        }
    </style>

    <script>
        window.onerror = function (message) {
            alert(message)
        };
        angular.module('nemo')

            .controller('MainController', ['$scope', function ($scope) {

            $scope.fields = [
                {
                    type: 'select',
                    name: 'title',
                    options: [
                        {
                            text: 'Mr',
                            value: 'MrValue'
                        },
                        {
                            text: 'Mrs',
                            value: 'MrsValue'
                        },
                        {
                            text: 'Ms',
                            value: 'MsValue'
                        },
                        {
                            text: 'Miss',
                            value: 'MissValue'
                        },
                        {
                            text: 'Dr',
                            value: 'DrValue'
                        },
                        {
                            text: 'Rev',
                            value: 'RevValue'
                        },
                        {
                            text: 'Prof',
                            value: 'ProfValue'
                        },
                        {
                            text: 'Other',
                            value: 'OtherValue'
                        }
                    ],
                    value: 'RevValue',
                    properties: {
                        "validation": [
                            {
                                "type": "required",
                                "rules": [
                                    {
                                        "value": true,
                                        "code": "title.blank",
                                        "message": "Please enter your title"
                                    }
                                ]
                            },
                            {
                                "type": "inlist",
                                "rules": [
                                    {
                                        "value": [
                                            "MrValue",
                                            "MrsValue",
                                            "MsValue",
                                            "MissValue",
                                            "DrValue",
                                            "RevValue",
                                            "ProfValue",
                                            "OtherValue"
                                        ],
                                        "code": "title.invalid",
                                        "message": "Title was not a valid choice"
                                    }
                                ]
                            }
                        ],
                        "help": {
                            "code": "title.help",
                            "message": "Please choose your title"
                        },
                        "label": {
                            "code": "title.label",
                            "message": "Title"
                        }
                    }
                },
                {
                    "name": "firstName",
                    "value": '',
                    "type": "text",
                    properties: {
                        "validation": [
                            {
                                "type": "required",
                                "rules": [
                                    {
                                        "value": true,
                                        "code": "firstName.blank",
                                        "message": "Please enter your first name"
                                    }
                                ]
                            },
                            {
                                "type": "maxlength",
                                "rules": [
                                    {
                                        "value": 50,
                                        "code": "firstName.size.toobig",
                                        "message": "Your first name needs to be less than 50 characters long"
                                    }
                                ]
                            },
                            {
                                "type": "pattern",
                                "rules": [
                                    {
                                        "value": "^[a-zA-Z \\'-]+$",
                                        "code": "firstName.invalid.characters",
                                        "message": "Sorry, your first name can only include letters and spaces"
                                    },
                                    {
                                        "value": "^[^-\\']",
                                        "code": "firstName.invalid.characters.startorend",
                                        "message": " Sorry, your first name canonly start and end with a letter"
                                    },
                                    {
                                        "value": "[^-\\']$",
                                        "code": "firstName.invalid.characters.startorend",
                                        "message": "Sorry, your first name can only start and end with a letter"
                                    }
                                ]
                            }
                        ],
                        "help": {
                            "code": "firstName.help",
                            "message": "Please enter your first name"
                        },
                        "label": {
                            "code": "firstName.label",
                            "message": "First name"
                        }
                    }
                },
                {
                    "name": "lastName",
                    "value": "y",
                    "type": "text",
                    properties: {
                        "validation": [
                            {
                                "type": "required",
                                "rules": [
                                    {
                                        "value": true,
                                        "code": "lastName.blank",
                                        "message": "Please enter your last name"
                                    }
                                ]
                            },
                            {
                                "type": "maxlength",
                                "rules": [
                                    {
                                        "value": 50,
                                        "code": "lastName.size.toobig",
                                        "message": "Your last name needs to be less than 50 characters long"
                                    }
                                ]
                            },
                            {
                                "type": "pattern",
                                "rules": [
                                    {
                                        "value": "^[a-zA-Z \\'-]+$",
                                        "code": "lastName.invalid.characters",
                                        "message": "Sorry, your last name can only include letters and spaces"
                                    },
                                    {
                                        "value": "^[^-\\']",
                                        "code": "lastName.invalid.characters.startorend",
                                        "message": "Sorry, your last name can only start and end with a letter"
                                    },
                                    {
                                        "value": "[^-\\']$",
                                        "code": "lastName.invalid.characters.startorend",
                                        "message": "Sorry, your last name can only start and end with a letter"
                                    }
                                ]
                            }
                        ],
                        "help": {
                            "code": "lastName.help",
                            "message": "Please enter your last name"
                        },
                        "label": {
                            "code": "lastName.label",
                            "message": "Last name"
                        }
                    }
                },
                {
                    "name": "email",
                    "value": "your@email.com",
                    "type": "email",
                    properties: {
                        "validation": [
                            {
                                "type": "required",
                                "rules": [
                                    {
                                        "value": true,
                                        "code": "email.blank",
                                        "message": "Please enter your email address"
                                    }
                                ]
                            },
                            {
                                "type": "email",
                                "rules": [
                                    {
                                        "value": true,
                                        "code": "email.email.invalid",
                                        "message": "Sorry, we do not recognise that email address, please check and try again"
                                    }
                                ]
                            },
                            {
                                "type": "notpattern",
                                "rules": [
                                    {
                                        "value": "(\\@sky\\.co\\.uk)|(\\@sky\\.com)",
                                        "code": "email.is.skycom",
                                        "message": "You cannot choose a Sky email address"
                                    }
                                ]
                            },
                            {
                                "type": "server",
                                "rules": [
                                    {
                                        "value": null,
                                        "code": "email.taken",
                                        "message": "You've already created a Sky iD with this email address"
                                    }
                                ]
                            }
                        ],
                        "help": {
                            "code": "email.help",
                            "message": "Tell us your email address"
                        },
                        "label": {
                            "code": "email.label",
                            "message": "Email address"
                        }
                    }
                },
                {
                    "name": "confirmEmail",
                    "value": "your@email.com",
                    "type": "email",
                    properties: {
                        "validation": [
                            {
                                "type": "required",
                                "rules": [
                                    {
                                        "value": true,
                                        "code": "confirmEmail.blank",
                                        "message": "Please type your email address again"
                                    }
                                ]
                            },
                            {
                                "type": "mustmatch",
                                "rules": [
                                    {
                                        "value": "email",
                                        "code": "confirmEmail.must.match.email",
                                        "message": "Sorry, your email addresses do not match. Please try again"
                                    }
                                ]
                            }
                        ],
                        "help": {
                            "code": "confirmEmail.help",
                            "message": "Please type your email address again"
                        },
                        "label": {
                            "code": "confirmEmail.label",
                            "message": "Confirm email address"
                        }
                    }
                },
                {
                    "name": "username",
                    "value": '',
                    "type": "text",
                    properties: {
                        "validation": [
                            {
                                "type": "required",
                                "rules": [
                                    {
                                        "value": true,
                                        "code": "username.blank",
                                        "message": "Please choose a username"
                                    }
                                ]
                            },
                            {
                                "type": "minlength",
                                "rules": [
                                    {
                                        "value": 3,
                                        "code": "username.size.toosmall",
                                        "message": "Your username can only have 3 - 32 characters"
                                    }
                                ]
                            },
                            {
                                "type": "maxlength",
                                "rules": [
                                    {
                                        "value": 32,
                                        "code": "username.size.toobig",
                                        "message": "Your username can only have 3 - 32 characters"
                                    }
                                ]
                            },
                            {
                                "type": "pattern",
                                "rules": [
                                    {
                                        "value": "^[a-zA-Z]+",
                                        "code": "username.must.start.with.letter",
                                        "message": "Your username can only start with a letter"
                                    },
                                    {
                                        "value": "^[a-zA-Z0-9\\-\\._]+[a-zA-Z0-9]$",
                                        "code": "username.invalid.characters",
                                        "message": "Your username can only contain letters and numbers"
                                    }
                                ]
                            },
                            {
                                "type": "notpattern",
                                "rules": [
                                    {
                                        "value": "[\\-\\.\\_][\\-\\.\\_]",
                                        "code": "username.invalid.characters",
                                        "message": "Your username can only contain letters and numbers"
                                    }
                                ]
                            },
                            {
                                "type": "server",
                                "rules": [
                                    {
                                        "value": null,
                                        "code": "username.taken",
                                        "message": "Sorry, someone already has that username"
                                    },
                                    {
                                        "value": null,
                                        "code": "username.contains.profanity",
                                        "message": "This is not a valid username"
                                    }
                                ]
                            }
                        ],
                        "help": {
                            "code": "username.help",
                            "message": "Your username must have 3-32 characters and must only contain letters and numbers"
                        },
                        "label": {
                            "code": "username.label",
                            "message": "Username"
                        }
                    }
                },
                {
                    "name": "password",
                    "value": '',
                    "type": "password",
                    properties: {
                        "validation": [
                            {
                                "type": "required",
                                "rules": [
                                    {
                                        "value": true,
                                        "code": "password.blank",
                                        "message": "Please enter a valid password, it can't contain your username or the word 'password'"
                                    }
                                ]
                            },
                            {
                                "type": "minlength",
                                "rules": [
                                    {
                                        "value": 8,
                                        "code": "password.size.toosmall",
                                        "message": "Your password can only have 8 - 32 characters"
                                    }
                                ]
                            },
                            {
                                "type": "maxlength",
                                "rules": [
                                    {
                                        "value": 32,
                                        "code": "password.size.toobig",
                                        "message": "Your password can only have 8 - 32 characters"
                                    }
                                ]
                            },
                            {
                                "type": "mustnotcontain",
                                "rules": [
                                    {
                                        "value": "username",
                                        "code": "password.contains.username",
                                        "message": "Please enter a valid password, it can't contain your username or the word 'password'"
                                    }
                                ]
                            },
                            {
                                "type": "pattern",
                                "rules": [
                                    {
                                        "value": "[A-Za-z]",
                                        "code": "password.must.contain.letter",
                                        "message": "Your password needs to contain at least one letter"
                                    },
                                    {
                                        "value": "^[\\!-\\%\\'-;=\\?-~]+$",
                                        "code": "password.invalid.characters",
                                        "message": "Your password contains invalid characters"
                                    }
                                ]
                            },
                            {
                                "type": "notpattern",
                                "rules": [
                                    {
                                        "value": "(password)",
                                        "code": "password.invalid",
                                        "message": "Please enter a valid password, it can't contain your username or the word 'password'"
                                    }
                                ]
                            }
                        ],
                        "help": {
                            "code": "password.help",
                            "message": "Must have 8-32 characters and cannot contain your username or the word 'password'"
                        },
                        "label": {
                            "code": "password.label",
                            "message": "Password"
                        }
                    }
                },
                {
                    "name": "confirmPassword",
                    "value": '',
                    "type": "password",
                    properties: {
                        "validation": [
                            {
                                "type": "required",
                                "rules": [
                                    {
                                        "value": true,
                                        "code": "confirmPassword.blank",
                                        "message": "Please type your password again"
                                    }
                                ]
                            },
                            {
                                "type": "mustmatch",
                                "rules": [
                                    {
                                        "value": "password",
                                        "code": "confirmPassword.must.match.password",
                                        "message": "The passwords you entered didn't match. Please try again"
                                    }
                                ]
                            }
                        ],
                        "help": {
                            "code": "confirmPassword.help",
                            "message": "Please type your password again"
                        },
                        "label": {
                            "code": "confirmPassword.label",
                            "message": "Confirm password"
                        }
                    }
                },
                {
                    "name": "terms",
                    "value": true,
                    "type": "checkbox",
                    properties: {
                        "validation": [
                            {
                                "type": "mustbeequal",
                                "rules": [
                                    {
                                        "value": true,
                                        "code": "terms.notequal",
                                        "message": "You need to agree to the terms and conditions"
                                    }
                                ]
                            }
                        ],
                        "help": {},
                        "label": {
                            "code": "terms.label",
                            "message": "I have read and agree to the Sky terms & conditions and privacy & cookies notice"
                        }
                    }
                },
                {
                    "name": "marketingConsent",
                    "value": false,
                    "type": "checkbox",
                    properties: {
                        "validation": [],
                        "help": {},
                        "label": {
                            "code": "marketingConsent.label",
                            "message": "Sky may contact you about products and services you may like unless you click to opt out"
                        }
                    }
                },
                {
                    "name": "serviceTerms",
                    "value": true,
                    "type": "checkbox",
                    properties: {
                        "validation": [
                            {
                                "type": "mustbeequal",
                                "rules": [
                                    {
                                        "value": true,
                                        "code": "serviceTerms.notequal",
                                        "message": "You need to agree to the terms and conditions"
                                    }
                                ]
                            }
                        ],
                        "help": {},
                        "label": {
                            "code": "serviceTerms.label",
                            "message": "I have read and agree to the NOW TV terms & conditions"
                        }
                    }
                },
                {
                    "name": "captcha",
                    "value": '',
                    "type": "captcha",
                    properties: {
                        "validation": [
                            {
                                "type": "required",
                                "rules": [
                                    {
                                        "value": true,
                                        "code": "captcha.blank",
                                        "message": "Please type the characters again"
                                    }
                                ]
                            },
                            {
                                "type": "server",
                                "rules": [
                                    {
                                        "value": null,
                                        "code": "captcha.invalid",
                                        "message": "Sorry, the characters you typed were wrong"
                                    }
                                ]
                            }
                        ],
                        "help": {},
                        "label": {
                            "code": "captcha.label",
                            "message": "Enter the characters"
                        }
                    },
                    actions: {
                        'request-captcha': {
                            href: '/captcha',
                            method: 'POST',
                            properties: {
                                actionsubmit: {
                                    code: 'requestcaptcha.submit',
                                    message: 'Can\'t read it?'
                                }
                            }
                        }
                    }
                },
                {
                    name: "captchaId",
                    type: "hidden",
                    value: null,
                    mandatory: true
                }
            ];
        }])

            .directive('fakeSubmitHandler', [function () {
                return{
                    require: 'nemoFormHandler',
                    link: function (scope, element, attrs, formHandlerCtrl) {
                        scope.fakeSubmit = function () {
                            formHandlerCtrl.forceAllFieldsToBeDirty();

                            if (this.sampleForm.$valid) {
                                formHandlerCtrl.forceInvalid('captcha', 'captcha.invalid', false);
                                formHandlerCtrl.giveFirstInvalidFieldFocus();
                            } else {
                                formHandlerCtrl.giveFirstInvalidFieldFocus();
                            }
                        };
                    }
                }
            }]);

    </script>
</head>

<body ng-controller="MainController">

    <form nemo-form-handler name="sampleForm" class="container" ng-submit="fakeSubmit()" fake-submit-handler novalidate>
        <div class="clearfix" ng-repeat="field in fields">
            <div class="column label">
                <span ng-if="field.name == 'captchaId'">Captcha Id</span>
                {{field.properties.label.message}}: {{field.value}}
            </div>
            <div class="column field">
                <nemo-input model="field"></nemo-input>-{{sampleForm[field.name].isActive}}-
                <nemo-validation-messages model="sampleForm[field.name]"></nemo-validation-messages>
            </div>
        </div>
        Is form valid? {{sampleForm.$valid}}
        <input type="submit" value="Submit!" />
    </form>

</body>
</html>
